
#prenom{
    color: red
}

h1{
  text-align: center;
  padding: 1rem;
  font-size: 30px;
  
}

.book{
  height: 5rem;
  margin-left: 12rem;
  margin-top: 27rem;
  position: fixed;
  z-index: 1;
}

.book:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50%{
        transform: rotate(60deg);
    }
    100% {
      transform: rotate(-60deg);
    }
  }


  .video{
    display: none;  
}

.modal{
    display: none;
    height: auto;
    width: auto;
}

button{
   background: none; 
   float: inline-end;
   border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
}

#txt-welcom{
  font-family: Mountains of Christmas;
  font-size: 45px;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 2px green, 0 0 1em blue, 0 0 0.2em green;
}

.blink {
    font-family: Mountains of Christmas ;
    font-size: 50px;
    left: 27rem;
    bottom: 1rem;
    position: fixed;
    animation: blink 1s infinite;
  }
  @keyframes blink { 
    0% { color: red;}
    50% {  color: green; } 
    100% {  color: red; }
  }

  
.countdown_style{
  font-size:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  position: fixed;
  bottom: 5rem;
  margin-left: 10%;
  z-index: 1;
}

.santa{
    height: 50vh;
    position: fixed;
    bottom: 0;
    right: 1em;
    
}

/* Desktop */

@media (min-width: 450px) {
  h1{
    text-align: center;
    padding: 1rem;
    font-size: 70px;   
}

.book{
  height: 5rem;
  margin-left: 15rem;
  margin-top: -2rem;
  position: fixed;
}

#txt-welcom{
  font-family: Mountains of Christmas;
  font-size: 50px;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 2px green, 0 0 1em blue, 0 0 0.2em green;
}


.countdown_style{
  font-size: xx-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  margin: auto;
  position: fixed;
  left: 23rem;
  bottom: 5rem;
}

.modal{
  display: none;
  margin: auto;
}
}





