
header{
    background-color:#d6d6ec65;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.advent{
    height: 10vh;
    width: 10vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
   margin-top: 10px;
   
}

.advent__number{
    height: 50px;
    width: 50px;
    border-radius: 50% ;
    font-size: rem;
  
}

.advent__box{
    padding: 10px;
}

.modal{
    background-image: url("../assets/images/background/christmas-6772644_1280.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
    display: none;
   
    border-radius: 5%; 
  
}

button{
   background: none; 
   float: inline-end;
   border: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
}

@media (min-width: 450px) {
    .advent{
        height: 50vh;
        width: 50vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        justify-items: center;
        margin: auto;

    }

    .advent__number{
        height: 100px;
        width: 100px;
        border-radius: 50% ;
        font-size: 3rem;
      
    }

}









    


        
        
