
.text-entrer{
    text-align: center;
    font-size: xx-large;
    color: red;
    margin-top: 50vh; 
    
}

#prenom{
    color: red
}

h1{
    text-align: center;
    padding: 1rem;
}

.santa{
    position: relative;
}

img{
    height: 50vh;
    position: fixed;
    bottom: 0;
    right: 1em;
    
}